@import '~element-ui/packages/theme-chalk/src/common/var';

:root {
  --color-white: #{$--color-white};
  --color-black: #{$--color-black};

  --color-primary: #{$--color-primary};
  --color-primary-light-1: #{$--color-primary-light-1};
  --color-primary-light-2: #{$--color-primary-light-2};
  --color-primary-light-3: #{$--color-primary-light-3};
  --color-primary-light-4: #{$--color-primary-light-4};
  --color-primary-light-5: #{$--color-primary-light-5};
  --color-primary-light-6: #{$--color-primary-light-6};
  --color-primary-light-7: #{$--color-primary-light-7};
  --color-primary-light-8: #{$--color-primary-light-8};
  --color-primary-light-9: #{$--color-primary-light-9};

  --color-secondary: #646b92;

  --color-success: #{$--color-success};
  --color-warning: #{$--color-warning};
  --color-danger: #{$--color-danger};
  --color-info: #{$--color-info};
  --color-success-light: #{$--color-success-light};
  --color-warning-light: #{$--color-warning-light};
  --color-danger-light: #{$--color-danger-light};
  --color-info-light: #{$--color-info-light};
  --color-success-lighter: #{$--color-success-lighter};
  --color-warning-lighter: #{$--color-warning-lighter};
  --color-danger-lighter: #{$--color-danger-lighter};
  --color-info-lighter: #{$--color-info-lighter};

  --color-text-primary: #{$--color-text-primary};
  --color-text-regular: #{$--color-text-regular};
  --color-text-secondary: #{$--color-text-secondary};
  --color-text-placeholder: #{$--color-text-placeholder};

  --border-color-base: #{$--border-color-base};
  --border-color-hover: #{$--border-color-hover};
  --border-color-light: #{$--border-color-light};
  --border-color-lighter: #{$--border-color-lighter};
  --border-color-extra-light: #{$--border-color-extra-light};

  --background-color-base: #{$--background-color-base};

  --link-color: #{$--link-color};
  --link-hover-color: #{$--link-hover-color};

  --icon-color: #{$--icon-color};
  --icon-color-base: #{$--icon-color-base};

  --fill-base: #{$--fill-base};
  --disabled-fill-base: #{$--disabled-fill-base};
  --disabled-color-base: #{$--disabled-color-base};
  --disabled-border-base: #{$--disabled-border-base};

  --box-shadow-base: #{$--box-shadow-base};
  --box-shadow-dark: #{$--box-shadow-dark};
  --box-shadow-light: #{$--box-shadow-light};

  --font-size-extra-extra-large: 2.75em;
  --font-size-extra-large: 1.75em;
  --font-size-large: 1.25em;
  --font-size-medium: 1.15em;
  --font-size-base: #{$--font-size-base};
  --font-size-small: #{$--font-size-small};
  --font-size-extra-small: #{$--font-size-extra-small};
  --font-weight-primary: #{$--font-weight-primary};
  --font-weight-secondary: #{$--font-weight-secondary};
  --font-line-height-primary: #{$--font-line-height-primary};
  --font-line-height-secondary: #{$--font-line-height-secondary};
  --font-color-disabled-base: #{$--font-color-disabled-base};
}

* {
  margin: 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.text {
  font-size: var(--font-size-base);

  &-xs {
    font-size: var(--font-size-extra-small);
  }

  &-sm {
    font-size: var(--font-size-small);
  }

  &-xl {
    font-size: var(--font-size-medium);
  }
}

.title {
  font-size: var(--font-size-large);

  &-sm {
    font-size: var(--font-size-medium);
  }

  &-xl {
    font-size: var(--font-size-extra-large);
  }

  &-xxl {
    font-size: var(--font-size-extra-extra-large);
  }
}

[class*='title'] {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}
